# TPC-H Queries

In this notebook, we explore how to reimplement SQL queries from the well-known TPC-H benchmark in Rabbit.

We start with loading the dataset.

In [1]:
include("../tpch.jl")

using RBT
setdb(tpch)

Region:
  name :: ASCIIString
  comment :: ASCIIString
  nation (inverse of Nation.region) :: Array{Nation,1} # unique, covering
Nation:
  name :: ASCIIString
  region :: Region
  comment :: ASCIIString
  customer (inverse of Customer.nation) :: Array{Customer,1} # unique, covering
  supplier (inverse of Supplier.nation) :: Array{Supplier,1} # unique, covering
Customer:
  name :: ASCIIString
  address :: ASCIIString
  nation :: Nation
  phone :: ASCIIString
  acctbal :: RBT.Monetary{:USD}
  mktsegment :: ASCIIString
  comment :: ASCIIString
  order (inverse of Order.customer) :: Array{Order,1} # unique, covering
Supplier:
  name :: ASCIIString
  address :: ASCIIString
  nation :: Nation
  phone :: ASCIIString
  acctbal :: RBT.Monetary{:USD}
  comment :: ASCIIString
  partsupp (inverse of Partsupp.supplier) :: Array{Partsupp,1} # unique, covering
  lineitem (inverse of Lineitem.supplier) :: Array{Lineitem,1} # unique, covering
Part:
  name :: ASCIIString
  mfgr :: ASCIIString
  brand :: ASCIIString
  type_ :: ASCIIString
  size :: Int64
  container :: ASCIIString
  retailprice :: RBT.Monetary{:USD}
  comment :: ASCIIString
  partsupp (inverse of Partsupp.part) :: Array{Partsupp,1} # unique, covering
  lineitem (inverse of Lineitem.part) :: Array{Lineitem,1} # unique, covering
Partsupp:
  part :: Part
  supplier :: Supplier
  availqty :: Int64
  supplycost :: RBT.Monetary{:USD}
  comment :: ASCIIString
  lineitem (inverse of Lineitem.partsupp) :: Array{Lineitem,1} # unique, covering
Order:
  customer :: Customer
  orderstatus :: ASCIIString
  totalprice :: RBT.Monetary{:USD}
  orderdate :: Date
  orderpriority :: ASCIIString
  clerk :: ASCIIString
  shippriority :: Int64
  comment :: ASCIIString
  lineitem (inverse of Lineitem.order) :: Array{Lineitem,1} # unique, covering
Lineitem:
  order :: Order
  part :: Part
  supplier :: Supplier
  partsupp :: Partsupp
  linenumber :: Int64
  quantity :: Int64
  extendedprice :: RBT.Monetary{:USD}
  discount :: Float64
  tax :: Float64
  returnflag :: ASCIIString
  linestatus :: ASCIIString
  shipdate :: Date
  commitdate :: Date
  receiptdate :: Date
  shipinstruct :: ASCIIString
  shipmode :: ASCIIString
  comment :: ASCIIString

The TPC-H benchmark consists of a generated dataset of customers, suppliers, products and orders as well as a collection of queries that perform various types of business analysis.

Table `order` lists all orders made by customers.

In [2]:
@query(
    order
    :select(
        customer.name, totalprice, orderdate))

12000x3 DataFrames.DataFrame
| Row   | name                 | totalprice | orderdate  |
|-------|----------------------|------------|------------|
| 1     | "Customer#000000296" | 159877.96  | 1996-01-02 |
⋮
| 11999 | "Customer#000001036" | 96525.52   | 1993-08-15 |
| 12000 | "Customer#000000871" | 43237.08   | 1992-08-14 |

Individual items in each order are stored in the `lineitem` table.  Each item lists the ordered part, the supplier and the pricing information.

In [3]:
@query(
    lineitem
    :select(
        order.customer, linenumber, part, supplier, quantity, extendedprice, discount, tax, shipdate))

48214x9 DataFrames.DataFrame
| Row   | customer             | linenumber |
|-------|----------------------|------------|
| 1     | "Customer#000000296" | 1          |
⋮
| 48213 | "Customer#000001036" | 3          |
| 48214 | "Customer#000000871" | 1          |

| Row   | part                                | supplier             |
|-------|-------------------------------------|----------------------|
| 1     | "dodger brown ivory blue pink"      | "Supplier#000000078" |
⋮
| 48213 | "peach antique deep peru saddle"    | "Supplier#000000016" |
| 48214 | "burlywood orchid dark drab dodger" | "Supplier#000000007" |

| Row   | quantity | extendedprice | discount | tax  | shipdate   |
|-------|----------|---------------|----------|------|------------|
| 1     | 17       | 19435.08      | 0.04     | 0.02 | 1996-03-13 |
⋮
| 48213 | 29       | 34489.12      | 0.06     | 0.0  | 1993-11-08 |
| 48214 | 39       | 44703.36      | 0.07     | 0.04 | 1992-11-24 |

For each customer and supplier, we track their country of origin.  Table `nation` contains a list of all countries partitioned by region.

In [4]:
@query(
    nation
    :select(
        name,
        region,
        cust_count => count(customer),
        supp_count => count(supplier)))

25x4 DataFrames.DataFrame
| Row | name             | region    | cust_count | supp_count |
|-----|------------------|-----------|------------|------------|
| 1   | "ALGERIA"        | "AFRICA"  | 51         | 3          |
⋮
| 24  | "UNITED KINGDOM" | "EUROPE"  | 42         | 3          |
| 25  | "UNITED STATES"  | "AMERICA" | 31         | 6          |

The following query descriptions are taken directly from TPC-H documentation.  We will show how to incrementally construct these queries in Rabbit.

## Pricing Summary Report Query (Q1)
This query reports the amount of business that was billed, shipped, and returned.

### Business Question
The Pricing Summary Report Query provides a summary pricing report for all lineitems shipped as of a given date.
The date is within 60 - 120 days of the greatest ship date contained in the database. The query lists totals for
extended price, discounted extended price, discounted extended price plus tax, average quantity, average extended
price, and average discount. These aggregates are grouped by RETURNFLAG and LINESTATUS, and listed in
ascending order of RETURNFLAG and LINESTATUS. A count of the number of lineitems in each group is
included.
        
### Query Definition
```
select
    l_returnflag,
    l_linestatus,
    sum(l_quantity) as sum_qty,
    sum(l_extendedprice) as sum_base_price,
    sum(l_extendedprice*(1-l_discount)) as sum_disc_price,
    sum(l_extendedprice*(1-l_discount)*(1+l_tax)) as sum_charge,
    avg(l_quantity) as avg_qty,
    avg(l_extendedprice) as avg_price,
    avg(l_discount) as avg_disc,
    count(*) as count_order
from
    lineitem
where
    l_shipdate <= date '1998-12-01' - interval '[DELTA]' day
group by
    l_returnflag,
    l_linestatus
order by
    l_returnflag,
    l_linestatus;
```

### Substitution Parameters
1. DELTA = 90.

To generate this report, we use the data from the `lineitem` table.

In [5]:
@query(
    lineitem
    :select(order, linenumber, shipdate, quantity, extendedprice, discount, tax, returnflag, linestatus))

48214x9 DataFrames.DataFrame
| Row   | order                | linenumber | shipdate   | quantity |
|-------|----------------------|------------|------------|----------|
| 1     | "Customer#000000296" | 1          | 1996-03-13 | 17       |
⋮
| 48213 | "Customer#000001036" | 3          | 1993-11-08 | 29       |
| 48214 | "Customer#000000871" | 1          | 1992-11-24 | 39       |

| Row   | extendedprice | discount | tax  | returnflag | linestatus |
|-------|---------------|----------|------|------------|------------|
| 1     | 19435.08      | 0.04     | 0.02 | "N"        | "O"        |
⋮
| 48213 | 34489.12      | 0.06     | 0.0  | "R"        | "F"        |
| 48214 | 44703.36      | 0.07     | 0.04 | "R"        | "F"        |

We start with extracting all lineitems in the selected date range.

In [6]:
@query(
    lineitem
    :filter(shipdate <= date("1998-12-01") - DELTA*days),
    DELTA=90)

47535x16 DataFrames.DataFrame
| Row   | order                | part                                |
|-------|----------------------|-------------------------------------|
| 1     | "Customer#000000296" | "dodger brown ivory blue pink"      |
⋮
| 47534 | "Customer#000001036" | "peach antique deep peru saddle"    |
| 47535 | "Customer#000000871" | "burlywood orchid dark drab dodger" |

| Row   | supplier             | linenumber | quantity | extendedprice |
|-------|----------------------|------------|----------|---------------|
| 1     | "Supplier#000000078" | 1          | 17       | 19435.08      |
⋮
| 47534 | "Supplier#000000016" | 3          | 29       | 34489.12      |
| 47535 | "Supplier#000000007" | 1          | 39       | 44703.36      |

| Row   | discount | tax  | returnflag | linestatus | shipdate   | commitdate |
|-------|----------|------|------------|------------|------------|------------|
| 1     | 0.04     | 0.02 | "N"        | "O"        | 1996-03-13 | 1996-02-12 |
⋮
| 47534 | 0.06     | 0.0  | "R"        | "F"        | 1993-11-08 | 1993-09-29 |
| 47535 | 0.07     | 0.04 | "R"        | "F"        | 1992-11-24 | 1992-10-21 |

| Row   | receiptdate | shipinstruct        | shipmode |
|-------|-------------|---------------------|----------|
| 1     | 1996-03-22  | "DELIVER IN PERSON" | "TRUCK"  |
⋮
| 47534 | 1993-11-16  | "TAKE BACK RETURN"  | "MAIL"   |
| 47535 | 1992-12-12  | "TAKE BACK RETURN"  | "MAIL"   |

| Row   | comment                                |
|-------|----------------------------------------|
| 1     | "egular courts above the"              |
⋮
| 47534 | "ackages may serve above the furiousl" |
| 47535 | "arefully ironic as"                   |

Next, we group the lineitems by values of `returnflag` and `linestatus` attributes.

In [7]:
@query(
    lineitem
    :filter(shipdate <= date("1998-12-01") - DELTA*days)
    :group(returnflag, linestatus),
    DELTA=90)

4x3 DataFrames.DataFrame
| Row | returnflag | linestatus |
|-----|------------|------------|
| 1   | "A"        | "F"        |
| 2   | "N"        | "F"        |
| 3   | "N"        | "O"        |
| 4   | "R"        | "F"        |

| Row | lineitem                                                                                                                                                                                                                                                                                                                                                        |
|-----|-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| 1   | 11958x16 DataFrames.DataFrame
| Row   | order                | part                                 |
|-------|----------------------|--------------------------------------|
| 1     | "Customer#000000988" | "blue drab lime khaki sienna"        |
⋮
| 11957 | "Customer#000000529" | "chiffon royal lime almond midnight" |
| 11958 | "Customer#000001036" | "medium forest blue ghost black"     |

| Row   | supplier             | linenumber | quantity | extendedprice |
|-------|----------------------|------------|----------|---------------|
| 1     | "Supplier#000000053" | 3          | 27       | 25083.54      |
⋮
| 11957 | "Supplier#000000034" | 4          | 14       | 24960.32      |
| 11958 | "Supplier#000000063" | 2          | 42       | 38724.84      |

| Row   | discount | tax  | returnflag | linestatus | shipdate   | commitdate |
|-------|----------|------|------------|------------|------------|------------|
| 1     | 0.06     | 0.07 | "A"        | "F"        | 1994-01-16 | 1993-11-22 |
⋮
| 11957 | 0.08     | 0.07 | "A"        | "F"        | 1994-12-10 | 1994-10-07 |
| 11958 | 0.05     | 0.02 | "A"        | "F"        | 1993-12-13 | 1993-09-29 |

| Row   | receiptdate | shipinstruct        | shipmode | comment            |
|-------|-------------|---------------------|----------|--------------------|
| 1     | 1994-01-23  | "DELIVER IN PERSON" | "SHIP"   | "nal foxes wake. " |
⋮
| 11957 | 1994-12-27  | "TAKE BACK RETURN"  | "TRUCK"  | " express reques"  |
| 11958 | 1993-12-26  | "COLLECT COD"       | "SHIP"   | "tions. daringl"   |                                                                                                                                                                                                                                                                                   |
| 2   | 288x16 DataFrames.DataFrame
| Row | order                | part                                         |
|-----|----------------------|----------------------------------------------|
| 1   | "Customer#000000262" | "hot midnight orchid dim steel"              |
⋮
| 287 | "Customer#000000397" | "wheat blush forest metallic navajo"         |
| 288 | "Customer#000000397" | "burnished seashell floral moccasin antique" |

| Row | supplier             | linenumber | quantity | extendedprice |
|-----|----------------------|------------|----------|---------------|
| 1   | "Supplier#000000027" | 4          | 25       | 26103.50      |
⋮
| 287 | "Supplier#000000045" | 1          | 2        | 2048.24       |
| 288 | "Supplier#000000075" | 2          | 50       | 85740.50      |

| Row | discount | tax  | returnflag | linestatus | shipdate   | commitdate |
|-----|----------|------|------------|------------|------------|------------|
| 1   | 0.04     | 0.01 | "N"        | "F"        | 1995-06-13 | 1995-05-23 |
⋮
| 287 | 0.04     | 0.0  | "N"        | "F"        | 1995-06-17 | 1995-07-08 |
| 288 | 0.02     | 0.01 | "N"        | "F"        | 1995-05-28 | 1995-08-03 |

| Row | receiptdate | shipinstruct       | shipmode |
|-----|-------------|--------------------|----------|
| 1   | 1995-06-24  | "TAKE BACK RETURN" | "FOB"    |
⋮
| 287 | 1995-06-20  | "NONE"             | "FOB"    |
| 288 | 1995-06-25  | "COLLECT COD"      | "FOB"    |

| Row | comment                      |
|-----|------------------------------|
| 1   | "s-- quickly final accounts" |
⋮
| 287 | "refully slyly ironic re"    |
| 288 | "ly enticing ideas"          |                                                                                                 |
| 3   | 23326x16 DataFrames.DataFrame
| Row   | order                | part                                  |
|-------|----------------------|---------------------------------------|
| 1     | "Customer#000000296" | "dodger brown ivory blue pink"        |
⋮
| 23325 | "Customer#000000110" | "pale tan lavender powder cornflower" |
| 23326 | "Customer#000000110" | "plum midnight coral snow lemon"      |

| Row   | supplier             | linenumber | quantity | extendedprice |
|-------|----------------------|------------|----------|---------------|
| 1     | "Supplier#000000078" | 1          | 17       | 19435.08      |
⋮
| 23325 | "Supplier#000000051" | 6          | 30       | 36939.90      |
| 23326 | "Supplier#000000044" | 7          | 35       | 49893.20      |

| Row   | discount | tax  | returnflag | linestatus | shipdate   | commitdate |
|-------|----------|------|------------|------------|------------|------------|
| 1     | 0.04     | 0.02 | "N"        | "O"        | 1996-03-13 | 1996-02-12 |
⋮
| 23325 | 0.07     | 0.05 | "N"        | "O"        | 1997-08-14 | 1997-09-13 |
| 23326 | 0.09     | 0.01 | "N"        | "O"        | 1997-09-08 | 1997-08-27 |

| Row   | receiptdate | shipinstruct        | shipmode |
|-------|-------------|---------------------|----------|
| 1     | 1996-03-22  | "DELIVER IN PERSON" | "TRUCK"  |
⋮
| 23325 | 1997-09-08  | "NONE"              | "TRUCK"  |
| 23326 | 1997-09-15  | "NONE"              | "MAIL"   |

| Row   | comment                                       |
|-------|-----------------------------------------------|
| 1     | "egular courts above the"                     |
⋮
| 23325 | "ously bold packages. foxes will have to wak" |
| 23326 | "cuses use finally unusual platel"            | |
| 4   | 11963x16 DataFrames.DataFrame
| Row   | order                | part                                    |
|-------|----------------------|-----------------------------------------|
| 1     | "Customer#000000988" | "green blush tomato burlywood seashell" |
⋮
| 11962 | "Customer#000001036" | "peach antique deep peru saddle"        |
| 11963 | "Customer#000000871" | "burlywood orchid dark drab dodger"     |

| Row   | supplier             | linenumber | quantity | extendedprice |
|-------|----------------------|------------|----------|---------------|
| 1     | "Supplier#000000016" | 1          | 45       | 42076.35      |
⋮
| 11962 | "Supplier#000000016" | 3          | 29       | 34489.12      |
| 11963 | "Supplier#000000007" | 1          | 39       | 44703.36      |

| Row   | discount | tax  | returnflag | linestatus | shipdate   | commitdate |
|-------|----------|------|------------|------------|------------|------------|
| 1     | 0.06     | 0.0  | "R"        | "F"        | 1994-02-02 | 1994-01-04 |
⋮
| 11962 | 0.06     | 0.0  | "R"        | "F"        | 1993-11-08 | 1993-09-29 |
| 11963 | 0.07     | 0.04 | "R"        | "F"        | 1992-11-24 | 1992-10-21 |

| Row   | receiptdate | shipinstruct       | shipmode |
|-------|-------------|--------------------|----------|
| 1     | 1994-02-23  | "NONE"             | "AIR"    |
⋮
| 11962 | 1993-11-16  | "TAKE BACK RETURN" | "MAIL"   |
| 11963 | 1992-12-12  | "TAKE BACK RETURN" | "MAIL"   |

| Row   | comment                                |
|-------|----------------------------------------|
| 1     | "ongside of the furiously brave acco"  |
⋮
| 11962 | "ackages may serve above the furiousl" |
| 11963 | "arefully ironic as"                   |                                     |

For each distinct combination of `returnflag` and `linestatus` values, we see a collection of corresponding lineitem rows.  We can now use aggregate functions to summarize information about matching lineitems.

For example, to find the total number of matching lineitems, we can use `count` aggregate.

In [8]:
@query(
    lineitem
    :filter(shipdate <= date("1998-12-01") - DELTA*days)
    :group(returnflag, linestatus)
    :select(returnflag, linestatus, count(lineitem)),
    DELTA=90)

4x3 DataFrames.DataFrame
| Row | returnflag | linestatus |       |
|-----|------------|------------|-------|
| 1   | "A"        | "F"        | 11958 |
| 2   | "N"        | "F"        | 288   |
| 3   | "N"        | "O"        | 23326 |
| 4   | "R"        | "F"        | 11963 |

The query output now has the shape of the report.  We only need to calculate the respective fields.

In [9]:
@query(
    lineitem
    :filter(shipdate <= date("1998-12-01") - DELTA*days)
    :group(returnflag, linestatus)
    :select(
        returnflag,
        linestatus,
        sum_qty => sum(lineitem.quantity),
        sum_base_price => sum(lineitem.extendedprice),
        sum_disc_price => sum(lineitem.(extendedprice*(1-discount))),
        sum_charge => sum(lineitem.(extendedprice*(1-discount)*(1+tax))),
        avg_qty => mean(lineitem.quantity),
        avg_price => mean(lineitem.extendedprice),
        avg_disc => mean(lineitem.discount),
        count_order => count(lineitem)),
    DELTA=90)

4x10 DataFrames.DataFrame
| Row | returnflag | linestatus | sum_qty | sum_base_price | sum_disc_price |
|-----|------------|------------|---------|----------------|----------------|
| 1   | "A"        | "F"        | 303771  | 401515429.00   | 381465877.43   |
| 2   | "N"        | "F"        | 7354    | 9721375.74     | 9247800.68     |
| 3   | "N"        | "O"        | 593340  | 787065026.86   | 748034019.78   |
| 4   | "R"        | "F"        | 306623  | 406030555.01   | 385792652.67   |

| Row | sum_charge   | avg_qty | avg_price | avg_disc  | count_order |
|-----|--------------|---------|-----------|-----------|-------------|
| 1   | 396851569.64 | 25.4032 | 33577.14  | 0.0501196 | 11958       |
| 2   | 9616674.43   | 25.5347 | 33754.78  | 0.0480903 | 288         |
| 3   | 777970207.05 | 25.4369 | 33741.96  | 0.0498851 | 23326       |
| 4   | 401431970.22 | 25.6309 | 33940.53  | 0.0497308 | 11963       |

## Minimum Cost Supplier Query (Q2)
This query finds which supplier should be selected to place an order for a given part in a given region.

### Business Question
The Minimum Cost Supplier Query finds, in a given region, for each part of a certain type and size, the supplier who
can supply it at minimum cost. If several suppliers in that region offer the desired part type and size at the same
(minimum) cost, the query lists the parts from suppliers with the 100 highest account balances. For each supplier,
the query lists the supplier's account balance, name and nation; the part's number and manufacturer; the supplier's
address, phone number and comment information.


### Query Definition
```
select
    s_acctbal,
    s_name,
    n_name,
    p_partkey,
    p_mfgr,
    s_address,
    s_phone,
    s_comment
from
    part,
    supplier,
    partsupp,
    nation,
    region
where
    p_partkey = ps_partkey
    and s_suppkey = ps_suppkey
    and p_size = [SIZE]
    and p_type like '%[TYPE]'
    and s_nationkey = n_nationkey
    and n_regionkey = r_regionkey
    and r_name = '[REGION]'
    and ps_supplycost = (
        select
            min(ps_supplycost)
        from
            partsupp, supplier,
            nation, region
        where
            p_partkey = ps_partkey
            and s_suppkey = ps_suppkey
            and s_nationkey = n_nationkey
            and n_regionkey = r_regionkey
            and r_name = '[REGION]')
order by
    s_acctbal desc,
    n_name,
    s_name,
    p_partkey;
```

### Substitution Parameters
1. SIZE = 8;
2. TYPE = BRASS;
3. REGION = EUROPE.

This report extracts data from tables `part`, `supplier` as well as table `partsupp` that relates each supplier to their inventory of parts.  We start with getting a list of parts of the given size and type in the inventories of all suppliers.

In [10]:
@query(
    partsupp
    :filter(
        (part.size == SIZE) &
        contains(part.type_, TYPE)),
    SIZE=8, TYPE="BRASS")

32x5 DataFrames.DataFrame
| Row | part                                | supplier             | availqty |
|-----|-------------------------------------|----------------------|----------|
| 1   | "drab aquamarine red papaya pale"   | "Supplier#000000009" | 7731     |
⋮
| 31  | "plum beige misty cream cornflower" | "Supplier#000000013" | 2973     |
| 32  | "plum beige misty cream cornflower" | "Supplier#000000050" | 5417     |

| Row | supplycost |
|-----|------------|
| 1   | 65.54      |
⋮
| 31  | 727.39     |
| 32  | 620.51     |

| Row | comment                                                                                                                                                 |
|-----|---------------------------------------------------------------------------------------------------------------------------------------------------------|
| 1   | "ronic accounts haggle blithely across the blithely special platelets. furiously final ideas haggle carefully after the fluffily unusual dep"           |
⋮
| 31  | "at slyly final packages. enticingly pending excuses across the sometimes final dependencies sleep evenly above the express dep"                        |
| 32  | "requests against the blithely unusual deposits wake furiously furiously special platelets. ironically unusual accounts detect blithely. finally unusu" |

Among all suppliers, we are only interested in those who are situated in the given REGION.

In [11]:
@query(
    partsupp
    :filter(
        (part.size == SIZE) &
        contains(part.type_, TYPE) &
        (supplier.nation.region.name == REGION)),
    SIZE=8, TYPE="BRASS", REGION="EUROPE")

8x5 DataFrames.DataFrame
| Row | part                                   | supplier             |
|-----|----------------------------------------|----------------------|
| 1   | "drab aquamarine red papaya pale"      | "Supplier#000000032" |
⋮
| 7   | "burlywood seashell slate white cream" | "Supplier#000000040" |
| 8   | "burlywood seashell slate white cream" | "Supplier#000000077" |

| Row | availqty | supplycost |
|-----|----------|------------|
| 1   | 8847     | 935.64     |
⋮
| 7   | 9737     | 799.94     |
| 8   | 9194     | 240.78     |

| Row | comment                                                                                                                          |
|-----|----------------------------------------------------------------------------------------------------------------------------------|
| 1   | "ular, regular requests affix ironically enticing ideas. fur"                                                                    |
⋮
| 7   | "ns cajole idly. deposits are quickly blithely even deposits. quickly regular packages boost carefully. blithely ironic asympto" |
| 8   | "l requests cajole carefully. blithely express gifts"                                                                            |

Some parts are offered by more than one supplier.  We can use combinator `and_around(part)` to relate each row of the output to all the others that provide the same part.

In [12]:
@query(
    partsupp
    :filter(
        (part.size == SIZE) &
        contains(part.type_, TYPE) &
        (supplier.nation.region.name == REGION))
    :select(part, supplier, supplycost, othersupplycost => and_around(part).supplycost),
    SIZE=8, TYPE="BRASS", REGION="EUROPE")

8x4 DataFrames.DataFrame
| Row | part                                   | supplier             |
|-----|----------------------------------------|----------------------|
| 1   | "drab aquamarine red papaya pale"      | "Supplier#000000032" |
⋮
| 7   | "burlywood seashell slate white cream" | "Supplier#000000040" |
| 8   | "burlywood seashell slate white cream" | "Supplier#000000077" |

| Row | supplycost | othersupplycost |
|-----|------------|-----------------|
| 1   | 935.64     | [935.64]        |
⋮
| 7   | 799.94     | [799.94,240.78] |
| 8   | 240.78     | [799.94,240.78] |

Similarly, we can select rows that provide their part at the minimal cost.

In [13]:
@query(
    partsupp
    :filter(
        (part.size == SIZE) &
        contains(part.type_, TYPE) &
        (supplier.nation.region.name == REGION))
    :filter(supplycost == min(and_around(part).supplycost)),
    SIZE=8, TYPE="BRASS", REGION="EUROPE")

5x5 DataFrames.DataFrame
| Row | part                                   | supplier             |
|-----|----------------------------------------|----------------------|
| 1   | "drab aquamarine red papaya pale"      | "Supplier#000000032" |
| 2   | "blue gainsboro sky burnished puff"    | "Supplier#000000040" |
| 3   | "tan ghost cyan salmon goldenrod"      | "Supplier#000000066" |
| 4   | "frosted blue ghost purple coral"      | "Supplier#000000025" |
| 5   | "burlywood seashell slate white cream" | "Supplier#000000077" |

| Row | availqty | supplycost |
|-----|----------|------------|
| 1   | 8847     | 935.64     |
| 2   | 1481     | 319.99     |
| 3   | 322      | 104.62     |
| 4   | 290      | 774.80     |
| 5   | 9194     | 240.78     |

| Row | comment                                                                                                                                                                                      |
|-----|----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| 1   | "ular, regular requests affix ironically enticing ideas. fur"                                                                                                                                |
| 2   | "coys against the even instructions cajole furiously bold, daring courts. slyly ironic deposits ought to wake blithely regular ideas. slyly regular ideas according to the slyly express ac" |
| 3   | "g the quickly express dolphins. slyly even instructions nag furiously. carefully final ideas are idly above the ironic asymptotes. unusual requests haggle about t"                         |
| 4   | "r pinto beans-- quickly final instructions integrate alongside of the sly, silent th"                                                                                                       |
| 5   | "l requests cajole carefully. blithely express gifts"                                                                                                                                        |

We have the rows that we need in the requested report.  We only need to sort them and show the requested columns.

In [14]:
@query(
    partsupp
    :filter(
        (part.size == SIZE) &
        contains(part.type_, TYPE) &
        (supplier.nation.region.name == REGION))
    :filter(supplycost == min(and_around(part).supplycost))
    :sort(
        supplier.acctbal:desc,
        supplier.nation.name,
        part.name,
        part.id)
    :select(
        supplier.acctbal,
        supplier.name,
        supplier.nation,
        part.id,
        part.mfgr,
        supplier.address,
        supplier.phone,
        supplier.comment),
    SIZE=8, TYPE="BRASS", REGION="EUROPE")

5x8 DataFrames.DataFrame
| Row | acctbal | name                 | nation           | id   |
|-----|---------|----------------------|------------------|------|
| 1   | 9198.31 | "Supplier#000000025" | "RUSSIA"         | 1156 |
| 2   | 4186.95 | "Supplier#000000077" | "GERMANY"        | 1362 |
| 3   | 3556.47 | "Supplier#000000032" | "UNITED KINGDOM" | 248  |
| 4   | 2455.98 | "Supplier#000000066" | "UNITED KINGDOM" | 805  |
| 5   | -290.06 | "Supplier#000000040" | "RUSSIA"         | 493  |

| Row | mfgr             | address                                    |
|-----|------------------|--------------------------------------------|
| 1   | "Manufacturer#5" | "RCQKONXMFnrodzz6w7fObFVV6CUm2q"           |
| 2   | "Manufacturer#1" | "wVtcr0uH3CyrSiWMLsqnB09Syo,UuZxPMeBghlY"  |
| 3   | "Manufacturer#1" | "yvoD3TtZSx1skQNCK8agk5bZlZLug"            |
| 4   | "Manufacturer#5" | "qYdruFJQJYYiKvnNVmYfCVydVB8bcW,AW,U6SOV3" |
| 5   | "Manufacturer#4" | "zyIeWzbbpkTV37vm1nmSGBxSgd2Kp"            |

| Row | phone             |
|-----|-------------------|
| 1   | "32-431-945-3541" |
| 2   | "17-281-345-4863" |
| 3   | "33-484-637-7873" |
| 4   | "33-300-836-9529" |
| 5   | "32-231-247-6991" |

| Row | comment                                                                                                |
|-----|--------------------------------------------------------------------------------------------------------|
| 1   | "ely regular deposits. carefully regular sauternes engage furiously above the regular accounts. idly " |
| 2   | "the slyly final asymptotes. blithely pending theodoli"                                                |
| 3   | "usly even depths. quickly ironic theodolites s"                                                       |
| 4   | "ar requests. express orbits de"                                                                       |
| 5   | " final patterns. accounts haggle idly pas"                                                            |